<h1>Bonjour!</h1>

<p>
    Merci de verifier votre compte en cliquant sur ce lien:<br><br>
    <a href="{{ signedUrl }}">Confirmer votre compte</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A toute de suite!
</p>
